
<div>
  <h1 style="color: cornflowerblue">Human Resource Management System</h1>
  <p style="color: darkgoldenrod">Welcome to our new HRM application</p>
</div>

<div class="container mt-3">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="4" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="5" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="6" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="7" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="8" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="9" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="10" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="11" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="12" class="active"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/Content/a1.jpg" alt="School Photo1" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a2.jpg" alt="School Photo2" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a3.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a4.png" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a5.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a5.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a6.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a7.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a8.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a9.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a10.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a11.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a12.jpg" alt="School Photo3" width="1100" height="500">
      </div>
      <div class="carousel-item">
        <img src="/Content/a13.png" alt="School Photo3" width="1100" height="500">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>

</div>


