<!--<h1>Counter</h1>

<p>This is a simple example of an Angular component.</p>

<p aria-live="polite">Current count: <strong>{{ currentCount }}</strong></p>

<button class="btn btn-primary" (click)="incrementCounter()">Increment</button>-->

  <div>
    <table>
      <tbody>
        <tr>
          <td width="5%">
          </td>
          <td width="65%">
            <h3>
              Md. Anisujjaman
            </h3>
            <h4>
              Enterprise System Developer and Designer with C#
            </h4>
            <h4>
              email:anisujjaman96@gmail.com
            </h4>
            <h4>
              Mobile No: 01680737496
            </h4>
          </td>
          <td width="2%">
          </td>
          <td width="23%">
            <div>
              <img src="/img\IMG_20200114_154008 - Copy (1).jpg" alt="..." width="250" height="200">
            </div>
          </td>
          <td width="5%">
          </td>
        </tr>
      </tbody>
    </table>

    
  </div>
<hr />
<div>
  <table>
    <tbody>
    <tr>
      <td width="5%">
      </td>
      <td width="65%">
        <h3>
         Kaiser Uddin
        </h3>
        <h4>
          Enterprise System Developer and Designer with C#
        </h4>
        <h4>
          email:kaisaruddinmd@yahoo.com
        </h4>
        <h4>
          Mobile No: 01820190800
        </h4>
      </td>
      <td width="2%">
      </td>
      <td width="23%">
        <div>
          <img src="/img\47396399_1745934262175249_6010260548350902272_o.jpg" alt="..." width="250" height="200">
        </div>
      </td>
      <td width="5%">
      </td>
    </tr>
    </tbody>
  </table>

 
</div>

<hr/>
<div>
  <table>
    <tbody>
    <tr>
      <td width="5%">
      </td>
      <td width="65%">
        <h3>
          Tanjilur Rahman Chowdhury
        </h3>
        <h4>
          Enterprise System Developer and Designer with C#
        </h4>
        <h4>
          Mobile No: 01683653069
        </h4>
      </td>
      <td width="2%">
      </td>
      <td width="23%">
        <div>
          <img src="/img\78943850_2702058689830097_9201197103525658624_o.jpg" alt="..." width="250" height="200">
        </div>
      </td>
      <td width="5%">
      </td>
    </tr>
    </tbody>
  </table>

</div>
